{% extends 'layout.html' %}

{% block title %}Fail2Ban Panel{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Fail2Ban Dashboard v1.0.6</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            {% include '_message.html' %}
            <div class="col">
                {% for i in status %}
                    {{ i }}<br>
                {% endfor %}
            </div>
            <div class="col">
                Ban List<br>
                {% for i in getban %}
                    {{ i }}<br>
                {% endfor %}
                <div>Total IPs = {{ getban|length }}</div>
            </div>
            <div class="col">
                <form action="{{ url_for('add_ban') }}" method="post">
                    <div class="mb-3">
                        <label for="ipAddress" class="form-label">IP</label>
                        <input type="text" class="form-control" id="ipAddress" name="ipAddress">
                    </div>
                    <button type="submit" class="btn btn-primary">Ban</button>
                </form>
            </div>
            <div class="col">
                <form action="{{ url_for('remove_ban') }}" method="post">
                    <div class="mb-3">
                        <label for="ipAddress2" class="form-label">IP</label>
                        <input type="text" class="form-control" id="ipAddress2" name="ipAddress2">
                    </div>
                    <button type="submit" class="btn btn-danger">Unban</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
